.form-box {
    display: flex;
    
    flex-direction: column;
}

label {
    display: inline-block;
    min-width: 90px;
}

.loader-style {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}